extends base/base

block content
	input(type="checkbox")#menuswitch
	.menu-container
		.menu
			.menu__top-part
				label.menu__item.menu__item--hamburger(for="menuswitch")
					//-include svg/hamburger.svg
					.hamburger
				a(href="").menu__item.menu__item--link
					include svg/status.svg
					span Статус
				a(href="").menu__item.menu__item--link.active
					include svg/map.svg
					span Карта
				a(href="").menu__item.menu__item--link
					include svg/people.svg
					span Люди
				a(href="").menu__item.menu__item--link
					include svg/themes.svg
					span Темы
				a(href="").menu__item.menu__item--link
					include svg/banks.svg
					span Банки
			.menu__bottom-part
				a(href="").menu__item.menu__item--exit
					include svg/exit.svg
					span Выйти
	.content-container
		.content
			.content__top Интерактивная карта
			.content__body.content-body
				.content-body__badges
					.badge.badge--users
						include svg/users.svg
						.badge__text
							.number 3354
							.string пользователей в системе
					.badge.badge--questions
						include svg/questions.svg
						.badge__text
							.number 5342
							.string вопросов в системе
					.badge.badge--comments
						include svg/comments.svg
						.badge__text
							.number 1085
							.string комментариев в системе
				.content-body__map.map
					//-include svg/bigmap.svg
					include elements/bigmap.jade
					.map__tooltip.tooltip
						.tooltip__title.text-center Сибирский банк
						.tooltip__icons
							.t-icon.t-icon--users
								include svg/users-tooltip.svg
								.t-icon__quantity.t-icon__quantity--users 1462
							.t-icon.t-icon--questions
								include svg/questions-tooltip.svg
								.t-icon__quantity.t-icon__quantity--questions 162
							.t-icon.t-icon--comments
								include svg/comments-tooltip.svg
								.t-icon__quantity.t-icon__quantity--comments 4
						.tooltip__text
							.t-text.t-text--theme
								.t-text__theme Тема:
								.t-text__title Управление банком
							.t-text.t-text--tonality
								.t-text__theme Тональность:
								.t-text__title Нейтральная
						a(href="").tooltip__button.text-center Подробнее



					.map__legend
						.title Интерактивная карта
						.string Нажмите на регион для просмотра<br />подробной информации
				.content-body__graphs
					.graph.graph--flare
					.graph.graph--donut
					.graph.graph--pie

				.content-body__linechart
					.linechart.graph.graph--linechart
