html
	display flex
	flex-direction column
	min-height 100%

body
	flex 1 1 auto
	display flex
	position relative

.menu-container
	flex 0 0 vw(160)
	transition flex-basis 250ms linear

.content-container
	flex 1 0 1vw
	transition flex-basis 250ms linear
