.map
	position relative
	svg
		width vw(1760)
		height vw(1120)
		stroke white
		stroke-width 0.5px
		#animated
			path:focus
				outline none
		#none
			fill #949494
			cursor default

	&__tooltip
		position absolute
		min-width vw(290)
		height vw(168)
		border-radius vw(5)
		padding vw(8)
		background #dedede
		left 50%
		top 50%

	&__legend
		position absolute
		z-index 1
		top vw(24)
		right vw(21)
		text-align right
		.title
			font-size vw(25)
			font-weight bold
		.string
			font-size vw(12.5)

	use
		pointer-events none

$data = {
	area_1:     #44b230,
	area_2:     #a8e27f,
	area_3:     #8ecd62,
	area_4:     #509521,
	area_5:     #75b945,
	area_6:     #44b230,
	area_7:     #62a632,
	area_8:     #62a632,
	area_9:     #75b945,
	area_10:    #519521,
	area_11:    #43b230,
	area_12:    #8ecd62,
	area_13:    #519521,
	country_1:  #ca940b,
	country_2:  #edb016,
	country_3:  #edb016,
	country_4:  #ffcd50,
	country_5:  #edb016,
	country_6:  #edb016,
	country_7:  #ca940b,
	country_8:  #f6bf35,
	country_9:  #ca940b,
	country_10: #f6bf35,
	country_11: #ca940b,
	country_12: #edb016,
	country_13: #ffcd50,
	country_14: #f6bf35,
	country_15: #f6bf35,
}

for key, value in $data
	.map svg #{key}
		fill value
		transition all 350ms
		animation unquote(key) 2s infinite
		animation-delay math(0, 'random')*1.5s
		@media only screen and (min-width: 1200px)
			cursor pointer
		&:hover
		&:active
		&:focus
			fill #eb902d
	@keyframes key
		0%
			opacity 1
			transform translateZ(0)
		50%
			opacity 0.85
			transform translateZ(1px)
		100%
			opacity 1
			transform translateZ(0)

.tooltip
	display none
	flex-direction column
	transition visibility 350ms
	transform translateY(-50%)
	box-shadow vw(1) vw(1) vw(2) lighten(#7bb255, 30%)
	&__title
		text-transform uppercase
		font-size vw(20.83)
		color #525252
		font-weight bold
		flex 0 0 vw(22)
		margin-bottom vw(5)
	&__icons
		flex 0 0 vw(46)
		display flex
		justify-content flex-start
		align-items center
		border-top 1px solid #7a7a7a
		border-bottom 1px solid #7a7a7a
		margin-bottom vw(6)
	&__text
		font-size vw(16.67)
		font-weight bold
		flex 1 0 1%
	&__button
		background #76b945
		color #fff
		font-size vw(13.15)
		width vw(134)
		padding vw(5) 0
		border-radius vw(2)
		align-self center
		text-decoration none
		&:hover
			text-decoration inherit
	&:before
		display block
		content ""
		position absolute
		width 0
		height 0
		border-style: solid;
		border-width: vw(9) vw(15.9) vw(9) 0;
		border-color: transparent #dedede transparent transparent;
		top 50%
		left -(vw(14))
		transform translateY(-50%)

.t-icon
	flex 0 0 auto
	display flex
	align-items center
	margin-right vw(25)
	&__quantity
		font-size vw(16.67)
		flex 1 0 auto
	&--users
		color #004728
		fill #004728
	&--questions
		color #d6a72f
		fill #d6a72f
	&--comments
		color #cc7c27
		fill #cc7c27
	svg
		height vw(28)
		width vw(28)
		stroke-width 0
		margin-right vw(5)
		flex 0 0 vw(28)

.t-text
	display flex
	&__theme
		margin-right 0.5em
		color #949494
	&__title
		color #525252