.menu
	background #76b945
	color #ededed
	fill currentColor
	display flex
	flex-direction column
	font-size 2vw
	font-weight bold

	a
		color inherit
		text-decoration none

	&__item
		display block
		cursor pointer
		padding 2.1vw

		svg
			display block
			fill inherit
			height auto
			width 3.3vw

		&--link
		&--exit
			border-left 0.3vw solid transparent
			transition 350ms background, 350ms border-color
			&:hover
			&.active
				border-left-color #ededed
				background #66a13b

		&--hamburger
			padding 0.7vw 2.1vw
			background #66a13b



	span
		display none

	// Menu flex
	&__top-part
		flex 1 0 auto
	&__bottom-part
		flex 0 0 7.6vw